.myfirstbutton{
    border-radius: 20px;
    border:none;
    background:transparent;
    transition: 0.5s;
    color: grey;
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
    text-transform:uppercase;
    text-shadow: 2px 2px 5px red;
}

.myfirstdate{
    border-radius: 20px;
    font-size: medium;
    color: darkviolet;
}

.myfirstcombo{
    border-radius: 20px;
    font-size: medium;
    color: dodgerblue;
}

