<!--
 FOURJS_START_COPYRIGHT(D,2016)
 Property of Four Js*
 (c) Copyright Four Js 2016, 2020. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<div>
  <b class="MyHeaderBarWidget-counter" style="display: none;"></b>
  <span data-i18n="mycusto.window.currentTitle" style="display:none;"></span>  <b class="MyHeaderBarWidget-title" style="display: none;"></b>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <style>
    .bs-example {
      margin: 2px;
    }
  </style>
</div>