<!--
 FOURJS_START_COPYRIGHT(D,2016)
 Property of Four Js*
 (c) Copyright Four Js 2016, 2020. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<div>
  <header>
    <div class="bs-example">
      <nav class="navbar navbar-expand-md navbar-light bg-blue">
        <a href="#" class="navbar-brand">
          <img src="https://us.123rf.com/450wm/lumut/lumut1505/lumut150500012/39994162-stock-vector-s-lame-logo.jpg"
            height="35" alt="CFA">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav" style="margin-left: auto;">
            <a href="#" class="nav-item nav-link active"><strong>Home</strong></a>
            <a href="http://spsolutions.ie/wp-content/uploads/2017/04/Small-business-website-design1.jpg" class="nav-item nav-link" target="_blank"><strong>Profile</strong></a>
            <a href="https://miro.medium.com/max/3600/0*TtBf28_AjE5nlpvj.jpg" class="nav-item nav-link" target="_blank"><strong>Messages</strong></a>
            <a href="https://wallpaperaccess.com/full/732213.jpg" class="nav-item nav-link" tabindex="-1" target="_blank"><strong>Reports</strong></a>
          </div>
          
        </div>
      </nav>
    </div><hr style="color: black;">
    <marquee direction="right" style="color: black;font-size:medium;" scrollamount="20" hspace="20">
     <strong>Welcome To Company Finance Application</strong>
    </marquee>
      
  </header>
  <!-- GBC will be rendered in this div -->
  <div class="containerElement"></div>
  <!--<footer align="center">
    
      <a href="mailto:anonymous@hello.com" style="color: black;">anonymous@hello.com</a>
    
  </footer>-->
</div>